body {
    margin: 0;
    height: 1000px;
    overflow: hidden;
    background-color: lightblue;
    
}

#shape-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.shape {
    position: absolute;
    opacity: 1;
    transition: all 0.2s ease;
}

.circle {
    border-radius: 50%;
}

.square {
    border-radius: 0;

}

.rectangle {
    border-radius: 0px;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid #3498db;
}

.text{
    font-family: "Libre Barcode 39 Text", system-ui;
    font-style: none;
    color: black;
    font-size: 11px;}




    
  


